name: CI - Maven Build e Testes

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v3

      - name: Instalar JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Instalar dependências (Maven clean install)
        run: mvn -B clean install -DskipTests

      - name: Rodar testes JUnit
        run: mvn -B test

      - name: Gerar build (package)
        run: mvn -B package

